h2, h3, p {
	font-family: 'Quicksand', sans-serif;
}

@media (max-width: 600px) {
	body {
		padding: 2em;
	}

	.projects {
		margin: 2em auto;
		overflow: hidden;

		text-transform: uppercase;
	}

	.projects .project {
		height: 170px;
		width: 170px;
		display: inline-block;
		margin: 1em;
		float: left;

		background: rgb(25,25,25);
		border-radius: 85px;

		text-align: center;
		position: relative;
	}

	.projects .project p {
		color: rgb(225,225,225);
		font-size: 11pt;

		position: relative;
	  	top: 50%;
  		transform: translateY(-50%);

  		margin: 5px 20px;
	}

	.projects .incomplete {
		background: rgb(170,170,170);
		text-transform: capitalize;
	}
}

@media (min-width: 601px) {
	#header {
		max-width: 980px;
		margin: 2em auto;
		position: relative;
	}

	#header .nav {
		position: absolute;
		top: 0;
		right: 0;
	}

	.projects {
		max-width: 980px;
		margin: 2em auto;
		padding-left: 8em;
		overflow: hidden;

		text-transform: uppercase;
	}

	.projects .project {
		height: 170px;
		width: 170px;
		display: inline-block;
		margin: 1em;
		float: left;

		background: rgb(25,25,25);
		border-radius: 85px;

		text-align: center;
		position: relative;
	}

	.projects .project:hover p {
		color: white;
		text-decoration: none;
	}

	.projects .project p {
		color: rgb(225,225,225);
		font-size: 11pt;

		position: relative;
	  	top: 50%;
  		transform: translateY(-50%);

  		margin: 5px 20px;
	}

	.projects .incomplete {
		background: rgb(170,170,170);
		text-transform: capitalize;
	}

}

@media (min-width: 980px) {

}

@media (min-width: 1300px) {

}