body {
	padding-top: 30px;
	padding-left: 150px;
	padding-right: 150px;
	padding-bottom: 150px;
}

.imgmargin {
	margin-top: 25px;
	margin-left: 10px;
	margin-right: 20px;
}

.desnat {
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 15px;
}