a.current {
	text-decoration: underline;
}

.desc ul {
	margin-left: 1.5em;
}

.decorated {
	list-style-type: none;
}

.decorated > li {
	margin-left: -1.5em;
	padding-left: 1.5em;
	background: url('../images/icons/checkbox.png') no-repeat .1em .1em/1em 1em;
}

.projectImage {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.credit {
	font-size: xx-small
}

@media (max-width: 600px) {
	body {
		padding: 2em;
	}

	img.hero {
		max-width: 90%;
	}

}

@media (min-width: 601px) {
	img.hero {
		max-width: 980px;
		margin-bottom: 0;
	}

	#hero {
		max-width: 980px;
		margin: auto;
	}

	#hero p {
		font-family: 'Quicksand', sans-serif;
		margin-bottom: 0;
	}

	.summary {
		max-width: 980px;
		margin: 2em auto;
	}

	.summary h2 {
		text-transform: uppercase;
		font-size: 20pt;
	}

	.summary p {
		font-family: 'Quicksand', sans-serif;
	}
	
	.desc {
		max-width: 980px;
		margin: auto;
	}

	.desc > div {
		margin: 2em auto;
		padding-left: 12em;
		min-height: 100px;
	}

	.desc .research {
		background: url('../images/icons/user research.png') no-repeat 40px 0px/100px 100px;
	}

	.desc .development {
		background: url('../images/icons/development.png') no-repeat 45px 0px/100px 100px;
	}

	.desc .product {
		background: url('../images/icons/product.png') no-repeat 30px 0px/100px 100px;
	}

	.desc .coffee {
		background: url('../images/icons/coffee.png') no-repeat 32px 0px/100px 100px;
	}
}

@media (min-width: 980px) {

}

@media (min-width: 1300px) {

}